@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    #publication,
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: block;
    }

    .section-container {
      flex-direction: column;  /* 将 divs 堆叠起来 */
    }

    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }

  @media screen and (max-width: 480px) {
    /* 调整整体字体大小 */
    body {
        font-size: 14px;
    }

    /* 如果你有一个大的标题，你可能想要减小它的大小 */
    .title {
        font-size: 24px;  /* 只是一个示例，根据实际需求调整 */
    }

    /* 调整间距和填充 */
    .some-element {
        margin: 5px;
        padding: 5px;
    }

    /* 如果你有一个导航菜单，可能需要调整或隐藏某些元素 */
    .nav-item {
        display: block;   /* 变为块级元素，使其占满整行 */
        margin: 5px 0;   /* 添加上下边距 */
    }

    /* 如果你的页面有图片，可能需要调整它们的大小 */
    .some-image {
        width: 100%;   /* 使图片宽度适应其容器 */
        height: auto;  /* 保持图片的原始纵横比 */
    }

    /* 其他需要调整的样式... */
}
