.box {
    position: relative;
    width: 400px;
    height:400px;
    background: repeating-conic-gradient(#ff2770 0%, #ff2770 5%,
                                        transparent 5%, transparent 40%,
                                        #ff2770 50%);

}