@media (min-width: 2501px) and (max-width: 3000px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #music, 
  #projects,
  #honors,
  #skills {
    height: fit-content;
  }
  #canvas {
    height: 550px;
  }
}

@media (min-width: 2001px) and (max-width: 2500px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #music, 
  #projects,
  #honors,
  #skills {
    height: fit-content;
  }

  #canvas {
    height: 550px;
  }
}

@media (min-width: 1401px) and (max-width: 2000px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #music, 
  #projects,
  #honors,
  #skills {
    height: fit-content;
  }

  #canvas {
    height: 550px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #music, 
    #projects,
    #honors,
    #skills {
      height: fit-content;
    }

    #canvas {
      height: 550px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    #contact,
    #about,
    #publication,
    #music, 
    #projects,
    #honors,
    #skills {
      height: fit-content;
    }

    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }

    #profile img {
      width: 100%;
      height: 100%;
    }

    #publication,
    #skill,
    .skills-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: flex;
    }

    #about,
    .about-section-container {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      flex-direction: column; /* 如有必要，设置子元素为垂直堆叠 */
    }

    .section-container {
      flex-direction: column;  /* 将 divs 堆叠起来 */
    }

    .arrow {
      display: none;
    }

    section,
    .section-container {
      height: fit-content;
    }

    section {
      margin: 0 5%;
    }

    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .section__pic-container img {
      width: 100%;
      height: 100%;
    }

    .about-containers {
      margin-top: 0;
    }

    #canvas {
      height: 550px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    #contact,
    #about,
    #publication,
    #music, 
    #honors,
    #projects,
    #skills {
      height: fit-content;
    }

    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }

    #profile img {
      width: 100%;
      height: 100%;
    }

    #publication,
    #skill,
    .skills-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: flex;
    }

    .section-container {
      flex-direction: column;  /* 将 divs 堆叠起来 */
    }

    .arrow {
      display: none;
    }

    section,
    .section-container {
      height: fit-content;
    }

    section {
      margin: 0 5%;
    }

    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .section__pic-container img {
      width: 100%;
      height: 100%;
    }

    #about,
    .about-section-container {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      flex-direction: column; /* 如有必要，设置子元素为垂直堆叠 */
    }

    .about-containers {
      margin-top: 0;
      justify-self: center;
    }

    #canvas {
      height: 550px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    #contact,
    #about,
    #publication,
    #music, 
    #honors,
    #projects,
    #skills {
      height: fit-content;
    }

    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }

    #profile img {
      width: 100%;
      height: 100%;
    }

    #publication,
    #skill,
    .skills-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: flex;
    }

    .section-container {
      flex-direction: column;  /* 将 divs 堆叠起来 */
    }

    #about,
    .about-section-container {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      flex-direction: column; /* 如有必要，设置子元素为垂直堆叠 */
    }

    .arrow {
      display: none;
    }

    section,
    .section-container {
      height: fit-content;
    }

    section {
      margin: 0 5%;
    }

    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .section__pic-container img {
      width: 100%;
      height: 100%;
    }

    #about {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-containers {
      margin-top: 0;
      justify-self: center;
    }

    #canvas {
      height: 550px;
    }
  }

  @media screen and (max-width: 767px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }

    #profile img {
      width: 100%;
      height: 100%;
    }

    #profile,
    .section-container {
      display: block;
    }

    #contact,
    #profile,
    #about,
    #publication,
    #music, 
    #honors,
    #projects,
    #skills {
      height: fit-content;
    }

    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .skills-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    
    .section-container,
    .section__pic-container {
      height: fit-content;
      display: block;
    }
    .section__pic-container {
      /* width: auto;
      height: 46vw; */
      justify-content: center;
    }
    .section__pic-container img {
      width: 100%;
      height: 100%;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    #canvas {
      height: 550px;
    }
  }

  @media screen and (max-width: 480px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }

    #profile img {
      width: 100%;
      height: 100%;
    }

    #profile,
    .section-container {
      display: block;
    }

    #contact,
    #profile,
    #honors,
    #about,
    #publication,
    #music, 
    #projects,
    #skills {
      height: fit-content;
    }

    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .skills-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    
    .section-container,
    .section__pic-container {
      height: fit-content;
      display: block;
    }
    .section__pic-container {
      /* width: auto;
      height: 46vw; */
      justify-content: center;
    }
    .section__pic-container img {
      width: 100%;
      height: 100%;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    #canvas {
      height: 550px;
      justify-content: center;
    }
}
