/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:wght@300;400;500;600&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

h5 {
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

/* nav{
  justify-content: space-around;
  align-items: center;
  height: 10vh;
} */

nav {
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    align-items: center; /* 新增：确保所有子元素垂直居中 */
}

a {
    color: rgb(53, 53, 53);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(181, 8, 8);
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/*.nav-links li, .nav-links a {*/
/*    height: 15vh;*/
/*    line-height: 15vh;*/
/*}*/

.logo {
    font-size: 2rem;
    line-height: 15vh; /* 与 nav 的高度相同 */
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(53, 53, 53);
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(53, 53, 53);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 0 10px; /* 这里将垂直内边距设置为0，水平内边距保持10px */
    height: 50px;
    line-height: 50px;
}

.menu-links li {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-links.open {
    max-height: 400px;
}

.menu-links, .menu-links li, .menu-links a, .box {
    margin: 0;
    padding: 0;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    align-items: flex-start;
}

.section__pic-container,
.about-details-container {
    margin-top: 0;
    padding-top: 0;
}

.about-pic {
    vertical-align: top;
}


/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.paper-title-note {
    /* font-size: 1.5rem;
    
    margin-bottom: 1rem; */
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

#socials-container a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
    display: inline-block;
    margin: auto 10px auto auto;
    transition: all .5s ease;
    border: 0 solid transparent;
    border-radius: 50%;
}

#socials-container a:hover {
    background-color: white;
    color: #c11325;
    border: 0 solid rgb(53, 53, 53);
}

#socials-container .git:hover {
    background-color: white;
    color: rgb(53, 53, 53);
    border: 0 solid rgb(53, 53, 53);
}

#socials-container .linkedin:hover {
    background-color: white;
    color: rgb(65, 39, 237);
    border: 0 solid rgb(53, 53, 53);
}

#socials-container .soundcloud:hover {
    background-color: white;
    color: rgb(239, 110, 11);
    border: 0 solid rgb(53, 53, 53);
}

.logo_img {
    border-radius: 50%;
    height: 95%;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1 {
    background: rgb(53, 53, 53);
    color: white;
}

/* .btn-color-1, */
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    color: rgb(53, 53, 53);
    background-color: white;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
    display: inline;
}

/* ABOUT SECTION */

#about {
    position: relative;
    display: inline-block;
    height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
    /* padding-bottom: 20px; */
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: fixed;
    right: 30px; /* 调整为所需的像素值 */
    bottom: 50px; /* 调整为所需的像素值 */
    z-index: 1000; /* 确保它在其他元素上方 */
}

.bottom-arrow {
    transform: rotate(180deg);
}

.project-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    text-align: center;
    width: 600px;
}

.details-container span {
    font-weight: bolder;
    color: rgb(53, 53, 53);
}

.section-container {
    gap: 4rem;
    height: 80%;
    display: inline-flex;
    align-items: flex-start; /* 从顶部对齐 */
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-top: -20px;
}

.text-container span {
    font-weight: bolder;
    color: rgb(53, 53, 53);
}

.section__pic-container, .about-details-container {
    margin: 0;
    padding: 0;
}

.about-pic, .icon {
    display: block; /* 防止图片下方留有空隙 */
}

/* PUBLICATION SECTION */
#publication {
    height: 40vh;
}

#publication a {
    color: rgb(181, 8, 8);
    font-size: larger;
    text-decoration: underline;
}

#publication a:hover {
    color: rgb(53, 53, 53);
    text-underline-offset: 0;
    text-decoration: underline;
}

#publication .bold-text {
    font-weight: bold;
    margin-left: 0;
    padding-right: 0;

}

.publication-containers {
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    padding: 1.5rem;

}

.publication-details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    text-align: center;
}

/* MUSIC SECTION */
#music {
    position: relative;
    height: 80vh;

}

.wormhole-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    width: 100%;             /* 容器宽度，可以根据需要调整 */
    height: 500px;           /* 容器高度，也可以根据需要调整 */
}

.wormhole-link {
    width: 1000px;            /* iframe 的宽度 */
    height: 500px;           /* iframe 的高度 */
    border: none;            /* 移除边框，如果需要的话 */
}


/* .wormhole {
    width: 500px;
    height: 500px;
    border-radius: 50%;
} */


/* PROJECTS SECTION */

#projects {
    position: relative;
    height: 250vh;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    /* width: auto; 
    height: auto; */
    transition: filter 0.5s ease; /* 过渡持续时间 0.5 秒 */
}

.project-img:hover  {
    cursor: pointer;
    filter: brightness(50%);
}

/* project 1 & 2 */
.project-rectangle-img {
    border-radius: 0.5rem;
    width: 100%;
    height: 150px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project-rectangle-img:hover {
    cursor: pointer;
    width: 95%;
}

/* project 1 slides */

.manual-slideshow-container {
    position: relative;
}

/* Slides General */
.tuiter-mySlides,
.java-mySlides,
.gymUi-mySlides{
    border-radius: 2rem;
    display: none;
    width: 100%;
}

/* Tuiter Project */
.tuiter-slides {
    position: relative;
}

.tuiter-prev,
.tuiter-next,
.java-prev,
.java-next,
.gymUi-prev,
.gymUi-next{
    position: absolute;
    top: 90%;
    z-index: 1;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
}

.tuiter-prev:hover,
.tuiter-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.tuiter-prev {
    left: 0;
}

.tuiter-next {
    right: 0;
}

/* Java Swing MVC Project */
.java-slides {
    position: relative;
}

/*.java-prev,*/
/*.java-next {*/
/*  position: absolute;*/
/*  top: 90%;*/
/*  z-index: 1;*/
/*  cursor: pointer;*/
/*  background-color: lightgray;*/
/*  color: white;*/
/*  padding: 7px;*/
/*  border: none;*/
/*  border-radius: 100px;*/
/*  font-size: 18px;*/
/*}*/

.java-prev:hover,
.java-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.java-prev {
    left: 0;
}

.java-next {
    right: 0;
}

/* GymUI Project */
.gymUi-slides {
    position: relative;
}

.gymUi-prev:hover,
.gymUi-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.gymUi-prev {
    left: 0;
}

.gymUi-next {
    right: 0;
}

/* end */
.project-title {
    margin: 1rem;
    color: rgb(53, 53, 53);
}

.project-btn {
    color: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
}

.btn-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn:hover .fa-github {
    color: white;
}

/* end */
.project-title {
    margin: 1rem;
    color: rgb(53, 53, 53);
}

.project-btn {
    color: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
}

.btn-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn:hover .fa-github {
    color: white;
}

/* .fa-github:hover {
  color: white;
} */

.fa-youtube, .fa-github {
    font-size: 24px;
}

.live-demo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.live-demo-btn:hover .fa-youtube {
    color: red;
}


/* .live-demo {
  width: 6rem;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  border-radius: 50%;
  color: #c11325;





  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);

  padding: 0.5rem;
  margin-top: 1rem;
  gap: 1rem;
  color: rgb(53, 53, 53);
  border-color: rgb(163, 163, 163);

  line-height: 40px;

  color:#ffffff;
  background-color: rgb(53, 53, 53);
  text-decoration: none;

  margin-right: 10px;
  transition: all .5s ease;
  border:0px solid transparent;

}

.live-demo:hover {
  background-color: white;
  color: #c11325;
  border:0px solid rgb(53, 53, 53);
} */

.project-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 1.5rem;
}

/* DOTS */
/* Tuiter Dots */
.tuiter-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.tuiter-dot:hover {
    cursor: pointer;
    background-color: #717171;
}

.tuiter-dot.active {
    background-color: #717171;
}

/* Java Dots */
.java-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.java-dot:hover {
    cursor: pointer;
    background-color: #717171;
}

.java-dot.active {
    background-color: #717171;
    cursor: pointer;
}

/* gymUi Dots */
.gymUi-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.gymUi-dot:hover {
    cursor: pointer;
    background-color: #717171;
}

.gymUi-dot.active {
    background-color: #717171;
}

/* SKILL SECTION */

#skills {
    position: relative;
    height: 180vh;
}

.skills-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center; 
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article h3 {
    font-size: 1rem;
}

article p {
    font-size: 0.5rem;
}

article img {
    margin-right: -30px;
    padding-right: 20px;
    width: 30px;
}

article .htmlCss {
    margin-right: -40px;
    margin-left: -10px;
    width: 20px;
}

article .icon {
    cursor: default;
}

.jupyter {
    margin-right: 0;
    margin-left: 13px;
    width: 30px;
}

.eclipse {
    margin-right: -25px;
    margin-left: 0;
    width: 40px;
}

.netbeans-container {
    align-self: center;
}

.software-icons {
    margin-right: 0;
    margin-left: 0;
    width: 40px;

}

.omnigraffle {
    padding-left: 10px;
}

.software-detail-container {
    align-self: center;
    justify-content: center;
}

/* BUTTONS DOTS */

.java-dots,
.tuiter-dots,
.gymUi-dots {
    margin-top: -20px;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    margin-top: 50px;
}

.contact-info-upper-container {
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    background: rgb(250, 250, 250);
    padding: 0.5rem;
    margin: 1rem auto 2rem;
    gap: 1rem;
}

.contact-info-upper-container a {
    justify-content: space-between;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border: 0 solid transparent;
    border-radius: 50%;
}

.contact-info-upper-container a:hover {
    background-color: white;
    color: #c11325;
    border: 0 solid rgb(53, 53, 53);
}

.contact-info-upper-container .git:hover {
    background-color: white;
    color: rgb(53, 53, 53);
    border: 0 solid rgb(53, 53, 53);
}

.contact-info-upper-container .linkedin:hover {
    background-color: white;
    color: rgb(65, 39, 237);
    border: 0 solid rgb(53, 53, 53);
}

.contact-info-upper-container .soundcloud:hover {
    background-color: white;
    color: rgb(239, 110, 11);
    border: 0 solid rgb(53, 53, 53);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/* SoundCloud */
#soundCloud,
#skills {
    height: fit-content;
}

#soundCloud {
   display: block;
}

/* musicbox */
#musicbox,
#skills {
    height: fit-content;
}

/* arrow */
.slides-arrow {
    position: fixed; /* 固定位置 */
    top: 10%; /* 垂直居中 */
    font-size: 50px; /* 箭头大小 */
	font-weight: bolder;
    text-decoration: none; /* 去除下划线 */
    color: black; /* 箭头颜色 */
}

#leftArrow {
    left: 10px; /* 靠左位置 */
}

#rightArrow {
    right: 10px; /* 靠右位置 */
}

/* honors */
/* Honor Slides */
.performanceLvlCert-slides {
    position: relative;
}

.performanceLvlCert-mySlides {
    width: 600px;
    height: 400px;
    border-radius: 2rem;
    display: none;
}

.performanceLvlCert-mySlides:first-child {
    display: block;
}

.img-container {
    /* align-self: center; */
    text-align: center;
    align-items: flex-start;
    align-self: center;
	justify-content: center;
}
.honor-img {
    width: 600px;
    /* height: 600px; */
    border-radius: 2rem;
    transition: filter 0.5s ease; 
    /* 过渡持续时间 0.5 秒 */
    border-radius: 0.5rem;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.honor-img:hover {
    cursor: pointer;
    width: 610px;
}

/* performanceLvlCert Button Dots */
.performanceLvlCert-dots {
    position: absolute;
    left: 50%; /* 从左侧开始 */
    bottom: -35px; /* 调整这个值以将点向下移动到图片下方 */
    transform: translateX(-50%); /* 水平居中 */
    z-index: 2;
}

/* performanceLvlCert Dots */
.performanceLvlCert-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer; /* 确保可以点击 */
}

.performanceLvlCert-dot:hover {
    cursor: pointer;
    background-color: #717171;
}

.performanceLvlCert-dot.active {
    background-color: #717171;
}

/* performanceLvlCert-prev Project */

.performanceLvlCert-prev,
.performanceLvlCert-next {
    position: absolute;
    top: calc(100% + 20px); /* 使箭头出现在图片下方，20px 为图片和箭头之间的距离 */
    z-index: 1;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
}

.performanceLvlCert-prev-slides {
    position: relative;
}

.performanceLvlCert-prev-prev:hover,
.performanceLvlCert-prev-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.performanceLvlCert-prev {
    left: 20px; /* 可以根据需要调整 */
}

.performanceLvlCert-next {
    right: 20px; /* 可以根据需要调整 */
}

/* nationalGoldAward Button Dots */
.nationalGoldAward-dots {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 2;
}

/* nationalGoldAward Dots */
.nationalGoldAward-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.nationalGoldAward-dot:hover {
    background-color: #717171;
}

.nationalGoldAward-dot.active {
    background-color: #717171;
}

/* nationalGoldAward-prev and nationalGoldAward-next */
.nationalGoldAward-prev,
.nationalGoldAward-next {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 1;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
}

.nationalGoldAward-prev-slides {
    position: relative;
}

.nationalGoldAward-prev:hover,
.nationalGoldAward-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.nationalGoldAward-prev {
    left: 20px;
}

.nationalGoldAward-next {
    right: 20px;
}

/* performerAward Button Dots */
.performerAward-dots {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 2;
}

/* performerAward Dots */
.performerAward-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.performerAward-dot:hover {
    background-color: #717171;
}

.performerAward-dot.active {
    background-color: #717171;
}

/* performerAward-prev and performerAward-next */
.performerAward-prev,
.performerAward-next {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 1;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
}

.performerAward-prev:hover,
.performerAward-next:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.performerAward-prev {
    left: 20px;
}

.performerAward-next {
    right: 20px;
}
