html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*body {*/
/*    background: #000;*/
/*}*/

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.music-tunnel-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
}

.tunnel-wrapper {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -250px;
    left: -250px;
    transform: translate(-50%, -50%) translateZ(-250px); /* 调整translateZ的值 */
    vertical-align: middle;
    /*transform: translate(-50%, -50%) translateZ(-500px);*/
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation: move 12s infinite linear;
}

.tunnel-wrapper:nth-child(2) {
    animation: move 12s infinite linear;
    animation-delay: 6s;
}

.side {
    background: url("../assets/hyperspace.jpeg");
    background-size: cover;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-delay: 0s;
    animation: fade 12s infinite linear;
}

.tunnel-wrapper:nth-child(2) .side {
    animation-delay: 6s;
}

.side-right {
    transform: rotateY(90deg) translateZ(500px);
}

.side-left {
    transform: rotateY(-90deg) translateZ(500px);
}

.side-top {
    transform: rotateX(90deg) translateZ(500px);
}

.side-bottom {
    transform: rotateX(-90deg) translateZ(500px);
}

.side-back {
    transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
    0% {
        transform: translateZ(-500px) rotate(0deg);
    }
    100% {
        transform: translateZ(500px) rotate(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}